body {
    background: #38408c;
    color: white;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
}

input, select, textarea, button {
    font-family: inherit;
    font-size: inherit;
}

header, main {
    width: 444px;
}

header {
    height: 175px; background: #2f355f; padding: 1px;
}

header label {
    display: block;
    padding-left: 45px;
    text-align: left;
}

h1,  h2, h3, h4, h5 {
    margin-bottom: 18px;
}

.token-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Align to the left */
    /* padding: 20px; */
}

.token {
    background-color: #1e233d;
    border-radius: 8px;
    padding: 20px 30px; /* Increased padding */
    margin: 3px 0;
    width: 385px; /* Increased width */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.token-name {
    font-weight: bold;
}

.token-code {
    color: #f00;
    font-weight: bold;
}